html {
    font-size: 16px; /* Tamaño de letra base para rem */
}

h1 {
    font-family: sans-serif;
}

body {
    font-size: 1rem; /* Tamaño de letra relativo al documento */
}

#main {
    background-image: url(assets/tecnology.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 80%; /*Ancho relativo al contenedor */
    height: 100vh; /*Alto relativo al viewport */
    padding: 20px; /*Padding en pixeles */
    border: 1cm solid black; /*Bordes en centimetros */
    margin: 2in auto; /* Margen en pulgadas, centrado horizontalmente */
}

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#estilo1 {
    background-image: url(assets/paisaje_fondo.jpeg);
    
    text-align: center;
    margin-bottom: 127px;
}

#estilo2 {
    margin-bottom: 126px;
    background-color: white;
}